<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1,maximum-scale=1">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="no" name="msapplication-tap-highlight">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>载入中...</title>
<script async="async" src="https://js.67lq.cn/xs2.js"></script>
</head>
<body>
</body>
</html>
